<h1 style = "color: skyblue">Diamonds Dataset | ML Linear Regression</h1>

<p>Total number of instances: 53940</p>
<p>Total number of features: 10</p>

In [2]:
# import dataset with OpenML, pandas and numpy modules
from sklearn.datasets import fetch_openml
import numpy as np 
import pandas as pd 
diamonds = fetch_openml('diamonds', version = 4) # as a dictionary

/home/marius/.local/lib/python3.10/site-packages/sklearn/datasets/_openml.py:1022: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [3]:
# save it locally as numpy array
np.save('./dataset/diamonds.npy', diamonds)

In [9]:
# load the data
diamonds = np.load('./dataset/diamonds.npy', allow_pickle = 'TRUE').item()

# show the keys
print(diamonds.keys())

dict_keys(['data', 'target', 'frame', 'categories', 'feature_names', 'target_names', 'DESCR', 'details', 'url'])

In [22]:
# assign the data dictionary to DataFrame
diamondsDF = pd.DataFrame(diamonds['data'])
diamondsDF.head(10)

   carat cut color clarity  depth  table     x     y     z
0   0.23   2     1       3   61.5   55.0  3.95  3.98  2.43
1   0.21   3     1       2   59.8   61.0  3.89  3.84  2.31
2   0.23   1     1       4   56.9   65.0  4.05  4.07  2.31
3   0.29   3     5       5   62.4   58.0  4.20  4.23  2.63
4   0.31   1     6       3   63.3   58.0  4.34  4.35  2.75
5   0.24   4     6       7   62.8   57.0  3.94  3.96  2.48
6   0.24   4     5       6   62.3   57.0  3.95  3.98  2.47
7   0.26   4     4       2   61.9   55.0  4.07  4.11  2.53
8   0.22   0     1       5   65.1   61.0  3.87  3.78  2.49
9   0.23   4     4       4   59.4   61.0  4.00  4.05  2.39