<h1 style = "color: skyblue">Fish Market Dataset | ML Linear Regression</h1>

<p>This dataset is a record of 7 common different fish species in fish market sales. </p>
<p>With this dataset, a predictive model can be performed using machine friendly data and estimate the weight of fish can be predicted.</p>

In [2]:
# import dataset with OpenML, pandas and numpy modules
from sklearn.datasets import fetch_openml
import numpy as np 
import pandas as pd 
fish_market = fetch_openml('Fish-market', version = 1) # as a dictionary

/home/marius/.local/lib/python3.10/site-packages/sklearn/datasets/_openml.py:1022: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [3]:
# save it locally as numpy array
np.save('./dataset/fish_market.npy', fish_market)

In [6]:
# load the data
fish_market = np.load('./dataset/fish_market.npy', allow_pickle = 'TRUE').item()

# show the keys
print(fish_market.keys())

dict_keys(['data', 'target', 'frame', 'categories', 'feature_names', 'target_names', 'DESCR', 'details', 'url'])

In [8]:
# assign the data dictionary to DataFrame
fishMarket = pd.DataFrame(fish_market['data'])
fishMarket.head(10)

  Species  Length1  Length2  Length3   Height   Width
0   Bream     23.2     25.4     30.0  11.5200  4.0200
1   Bream     24.0     26.3     31.2  12.4800  4.3056
2   Bream     23.9     26.5     31.1  12.3778  4.6961
3   Bream     26.3     29.0     33.5  12.7300  4.4555
4   Bream     26.5     29.0     34.0  12.4440  5.1340
5   Bream     26.8     29.7     34.7  13.6024  4.9274
6   Bream     26.8     29.7     34.5  14.1795  5.2785
7   Bream     27.6     30.0     35.0  12.6700  4.6900
8   Bream     27.6     30.0     35.1  14.0049  4.8438
9   Bream     28.5     30.7     36.2  14.2266  4.9594

In [9]:
# Analyze the data

fishMarket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Length1  159 non-null    float64
 2   Length2  159 non-null    float64
 3   Length3  159 non-null    float64
 4   Height   159 non-null    float64
 5   Width    159 non-null    float64
dtypes: float64(5), object(1)
memory usage: 7.6+ KB

In [10]:
# NaN values False
fishMarket.isna().sum(axis = 0)

Species    0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [11]:
# summary of the numerical attributes
fishMarket.describe()

          Length1     Length2     Length3      Height       Width
count  159.000000  159.000000  159.000000  159.000000  159.000000
mean    26.247170   28.415723   31.227044    8.970994    4.417486
std      9.996441   10.716328   11.610246    4.286208    1.685804
min      7.500000    8.400000    8.800000    1.728400    1.047600
25%     19.050000   21.000000   23.150000    5.944800    3.385650
50%     25.200000   27.300000   29.400000    7.786000    4.248500
75%     32.700000   35.500000   39.650000   12.365900    5.584500
max     59.000000   63.400000   68.000000   18.957000    8.142000